.header__lang-link-hidden[type="radio"] {
  position: absolute;
  width: 1px; /* если у элемента не будет размеров, некоторые браузеры посчитают, что его вообще нет */
  height: 1px;
  overflow: hidden; /* без этого свойства тоже сработает, но так наверняка. Мы его ещё изучим, оно скрывает элементы, выходящие за границы родителя */
  clip: rect(0 0 0 0);
}

.header__lang-link {
  margin: 0;
  text-decoration: none;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  color: #ffffff;
}

.header__lang-link:hover {
  transition: opacity 1s;
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}

.header__lang-link-hidden:checked + .header__lang-link-visible {
  text-decoration: underline;
}