.page__header {
  margin: 28px 48px 56px;
}

@media screen and (max-width: 1024px) {
  .page__header {
    margin: 28px 48px 48px;
  }
}

@media screen and (max-width: 984px) {
  .page__header {
    margin: 28px 24px 48px;
  }
}

@media screen and (max-width: 760px) {
  .page__header {
    margin: 16px 16px 48px;
  }
}
