.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  max-width: 984px;
  max-height: 1001px;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    max-height: 962px;
  }
}

@media screen and (max-width: 984px) {
  .lead {
    max-width: 768px;
    max-height: 862px;
  }
}

@media screen and (max-width: 760px) {
  .lead {
    max-width: 320px;
    max-height: 406px;
  }
}
