.page__cover {
  margin: 0 48px 92px;
}

@media screen and (max-width: 1024px) {
  .page__cover {
    margin: 0 0 92px;
  }
}

@media screen and (max-width: 984px) {
  .page__cover {
    margin: 0 0 88px;
  }
}

@media screen and (max-width: 760px) {
  .page__cover {
    margin: 0 0 64px;
  }
}
